<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{title}}{{#current}}{{pid}}{{/current}} - {{#site}}{{title}}</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    {{#atom}}
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{{url}}/atom.xml">{{/atom}}
    {{#rss}}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{url}}/rss.xml">{{/rss}}
    <link rel="stylesheet" href="/{{assets}}/style.css">g
    {{/site}}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <script defer data-domain="elbasti.com" src="https://plausible.io/js/script.js"></script>
</head>

<body class="bg-[#faf8f0] text-orange-950 font-body">
    <header>
        <!-- <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
            {{#index}}
                <a {{#active}}class="active"{{/active}} itemprop="url" href="{{permalink}}"><span itemprop="name">Home</span></a>
            {{#subsections}}
                <a {{#active}}class="active"{{/active}} itemprop="url" href="{{permalink}}"><span itemprop="name">{{title}}</span></a>
            {{/subsections}}{{/index}}
            {{#classification}}
            {{#categories}}
                <a itemprop="url" href="{{#site}}{{url}}{{/site}}/{{slug}}/"><span itemprop="name">{{title}}</span></a>
            {{/categories}}
            {{#tags}}
                <a itemprop="url" href="{{#site}}{{url}}{{/site}}/{{slug}}/"><span itemprop="name">{{title}}</span></a>
            {{/tags}}
            {{/classification}}
        </nav> -->
    </header>

    <main>