{{>head.html}}

<div id="home_container" class="flex flex-col justify-start min-h-screen">
  {{>nav.html}}

  <div id="content"
    class="flex flex-col flex-wrap items-start justify-start flex-grow max-w-4xl py-24 mx-auto sm:py-48">
    <div id="content__hero" class="mx-auto sm:w-2/3 sm:mx-0">
      <img id="content__hero__img" src="/assets/face-orange-600.svg"
        class="mx-auto mb-8 text-justify aspect-square max-w-48"></img>
      <h1 id="content__hero__title class=" class="mb-10 text-4xl text-center text-orange-600 font-display">
        Sebastián <br class="sm:hidden">Villarreal Singer </h1>
    </div>

    <div id="content__row" class="flex flex-col items-center justify-between flex-grow-0 sm:flex-row">
      <div id="content__text" class="px-5 sm:w-2/3">
        <div class="mx-auto text-justify">
          <p class="mb-4">I worked for 15 or so years (wtf) in fintech and startups, and I'm
            currently hanging out working on other things.</p>

          <p class="mb-4">I made this website because I'm trying to write more and
            needed
            a
            place for my stuff.</p>


          <p class="mb-4">The drawing on this page is a portrait of me made by my daughter, Penny, when she was 2. <span
              class="italic">That guy</span> looks
            kind of sad but I'm generally a pretty happy guy!</p>

          <p class="mb-4">I'm Mexican, so a lot of the writing here&mdash;especially the creative stuff&mdash;is in
            Spanish.
          </p>

          <p class="mb-4">
            Email: <a href="mailto:sebastian@elbasti.com" class="underline">sebastian@elbasti.com</a>
            <br>
            Twitter: <a href="twitter.com/eblasti" class="underline">@elbasti</a>
          </p>
        </div>


      </div>
      <div id="content__menu" class="flex-initial mt-6 text-center sm:w-1/3 sm:mt-0">
        <ul class="text-lg text-orange-600 font-display">
          {{#subsections}}
          <li><a href="{{permalink}}">{{title}}</a></li>
          {{/subsections}}
        </ul>
      </div>
    </div>

  </div>
  <!-- {{>foot.html}} -->
</div>

</main>
</body>

</html>