{{>head.html}}
<div id="home_container" class="min-h-screen flex flex-col justify-start">

  {{>nav.html}}

  <div id="content" class="flex-grow mx-auto py-48">
    <h1 class="text-orange-600 font-display text-6xl mb-8">{{title}}</h1>
    <ul>
      {{#pages}}
      <li class="mb-2"><a href="{{permalink}}"
          class="underline text-orange-700 font-display visited:text-orange-950 capitalize">{{title}}</a></li>
      {{/pages}}
    </ul>
    <div id="content__content" class="max-w-2xl prose">
      {{content}}
    </div>
  </div>
  {{>foot.html}}
</div>

</main>
</body>

</html>