{{>head.html}}
<div id="home_container" class="flex flex-col justify-start min-h-screen">

  {{>nav.html}}

  <div id="content" class="flex-grow py-48 mx-auto">
    <h1 class="px-4 mb-8 text-6xl text-orange-600 font-display sm:px-0">{{title}}</h1>
    <ul>
      {{#pages}}
      <li class="mb-2"><a href="{{permalink}}"
          class="text-orange-700 underline capitalize font-display visited:text-orange-950">{{title}}</a></li>
      {{/pages}}
    </ul>
    <div id="content__content" class="max-w-2xl prose">
      {{content}}
    </div>
  </div>
  {{>foot.html}}
</div>

</main>
</body>

</html>